
#kdnaform-lock-dialog .kdnaform-locked-message,
#kdnaform-lock-dialog .kdnaform-taken-over {
    margin: 25px;
}

#kdnaform-lock-dialog .kdnaform-locked-message a.button {
    margin-right: 10px;
}

#kdnaform-lock-dialog .kdnaform-locked-avatar {
    float: left;
    margin: 0 20px 20px 0;
}

#kdnaform-lock-dialog .wp-tab-first {
    outline: 0;
}


